{{#if addNewAnswer}}
    <h4>Answer the question:</h4>
    <div>
      <form>
        <div class="form-group">
          {{input value=author placeholder="Your Name" class="form-control"}}
        </div>
        <div class="form-group">
          {{input value=body placeholder="Answer..." class="form-control"}}
        </div>
        <button class="btn" {{action 'saveAnswer'}}>Answer</button>
      </form>
    </div>
  {{else}}
    <button {{action 'newAnswerFormShow'}}>Answer this question</button>
  {{/if}}
