{{#if addNewQuestion}}
    <div>
      <form>
        <div class="form-group">
          {{input value=author placeholder="Your Name" class="form-control"}}
        </div>
        <div class="form-group">
          {{textarea value=body placeholder="What would you like to know?" class="form-control"}}
        </div>
      </form>
      <button class="btn" {{action 'saveQuestion'}}>Ask!</button>
    </div>
  {{else}}
    <button class="btn" {{action 'newQuestionFormShow'}}>Ask a question</button>
{{/if}}
