{{#if updateQuestion}}
    <h4>Update {{question.author}}'s Question</h4>
    <div class="form-group">
      {{input value=author placeholder=question.author}}
    </div>
    <div class="form-group">
      {{input value=body placeholder=question.body}}
    </div>
    <div class="form-group">
      {{input value=notes placeholder=question.notes}}
    </div>
    <button class="btn" {{action 'updateQuestion' question}}>Update Question</button>
  {{else}}
    <button class="btn" {{action 'updateQuestionFormShow'}}>Update Question</button>
{{/if}}
