<div class="container">
  <header class = "jumbotron">
    <h1>John's Q&A Board</h1>
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}About this page{{/link-to}}
  </footer>
</div>
