<div class="">
  <h4>{{model.author}} Asks:</h4>
  <p>
    {{model.body}}
  </p>
  <small>Notes: {{model.notes}}</small>
</div>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
{{new-answer question=model saveAnswer="saveAnswer"}}
{{update-question question=model updateQuestion="updateQuestion"}}
